.case-item {
	background-size: cover;
	background-position: 50%;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	position: relative;
	overflow: hidden;
	cursor: pointer
}
@media all and (min-width:1024px) and (max-width:1239px) {
.case-item {
	height: 360px
}
}
@media all and (min-width:1240px) and (max-width:1439px) {
.case-item {
	height: 439px
}
}
@media all and (min-width:1440px) {
.case-item {
	height: 500px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item {
	height: 330px
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item {
	height: 306px
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item {
	height: 280px
}
}
@media all and (max-width:480px) {
.case-item {
	height: 314px
}
}
@media all and (max-width:480px) {
.case-item {
	margin-bottom: 1.3px
}
}
.case-item:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.7);
	opacity: 0;
	-webkit-transition: all .2s;
	transition: all .2s;
	z-index: 3
}
.case-item .case-img {
	background-size: cover;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2
}
.case-item .case-desc {
	top: 43.1px;
	left: 50px;
	z-index: 10;
	position: absolute;
	height: calc(100% - 43.1px);
	width: 70%
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc {
	top: 33.1px;
	left: 31px;
	width: calc(100% - 62px)
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc {
	top: 15px;
	left: 15px;
	width: calc(100% - 30px)
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item .case-desc {
	top: 33.1px;
	left: 32.9px;
	width: calc(100% - 65.6px)
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item .case-desc {
	top: 23.1px;
	left: 22.9px;
	width: calc(100% - 45.6px)
}
}
@media all and (max-width:480px) {
.case-item .case-desc {
	top: 30.7px;
	left: 21px;
	width: calc(100% - 42px)
}
}
.case-item .case-desc .case-type {
	font-family:Sailec-Bold,sans-serif; text-transform:uppercase;
	font-size: 12px;
	color: #fff;
	opacity: .6;
	letter-spacing: 1.8px;
	z-index: 11
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-type {
	font-size: 10px
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item .case-desc .case-type {
	font-size: 12px;
	letter-spacing: 1.8px
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item .case-desc .case-type {
	font-size: 12px;
	letter-spacing: 1.2px
}
}
@media all and (max-width:480px) {
.case-item .case-desc .case-type {
	font-size: 11px;
	letter-spacing: 1.6px
}
}
.case-item .case-desc .case-title {
	margin-top: 6px;
	line-height: 1.36;
	letter-spacing: -.2px;
	font-family: Sailec-Medium,sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: #fff
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-title {
	line-height: 1.4;
	font-size: 20px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-title {
	font-size: 20px;
	line-height: 1.3
}
}
@media all and (max-width:768px) and (min-width:659px) {
.case-item .case-desc .case-title {
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: -.1px
}
}
@media all and (max-width:658px) and (min-width:481px) {
.case-item .case-desc .case-title {
	font-size: 18px;
	line-height: 1.4;
	letter-spacing: -.1px
}
}
@media all and (max-width:480px) {
.case-item .case-desc .case-title {
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: -.1px;
	margin-top: 12.9px
}
}
.case-item .case-desc .case-detail {
	font-family: Sailec,sans-serif;
	visibility: hidden;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	position: absolute;
	bottom: 107px;
	left: -5px;
	font-size: 17px;
	line-height: 1.45;
	opacity: .6;
	color: #fff;
	width: 100%
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-detail {
	font-size: 16px;
	line-height: 1.4;
	bottom: 87px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-detail {
	font-size: 16px;
	line-height: 1.4;
	bottom: 50px
}
}
.case-item .case-desc .case-tech {
	font-family:Sailec-Bold,sans-serif;
	white-space: nowrap;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	visibility: hidden;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	position: absolute;
	bottom: 51.7px;
	left: -5px;
	font-size: 10px;
	letter-spacing: 1px;
	color: #fff
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-tech {
	bottom: 30px
}
}
@media all and (max-width:1024px) and (min-width:890px) {
.case-item .case-desc .case-tech {
	bottom: 10px
}
}
@media all and (max-width:889px) and (min-width:769px) {
.case-item .case-desc .case-tech {
	bottom: 10px;
	font-size: 8px
}
}
@media all and (max-width:480px) {
.case-item .case-desc .case-tech {
	visibility: visible;
	color: #fff;
	bottom: 30px
}
}
.case-item .case-desc .case-tech span {
	display: inline;
	margin-right: 11px;
	margin-top: 5px;text-transform:uppercase;
}
@media all and (min-width:1025px) and (max-width:1279px) {
.case-item .case-desc .case-tech span {
	margin-right: 5px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .case-tech span {
	margin-right: 1px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
.case-item .case-desc .desc-long-text {
	font-size: 14px
}
}
.case-item:hover:after {
	opacity: 1
}
.case-item:hover .case-img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}
@media all and (min-width:769px) {
.case-item:hover .case-detail {
	visibility: visible;
	left: 0
}
}
@media all and (min-width:769px) {
.case-item:hover .case-tech {
	visibility: visible;
	left: 0
}
}
@-webkit-keyframes show-case {
0% {
margin-top:20px;
opacity:0
}
100% {
margin-top:0;
opacity:1
}
}
@keyframes show-case {
0% {
margin-top:20px;
opacity:0
}
100% {
margin-top:0;
opacity:1
}
}
@-webkit-keyframes hide-case {
0% {
margin-top:0;
opacity:1
}
100% {
margin-top:20px;
opacity:0
}
}
@keyframes hide-case {
0% {
margin-top:0;
opacity:1
}
100% {
margin-top:20px;
opacity:0
}
}
#filter-menu-holder {
	width: calc(100% + 0)
}
@media all and (min-width:481px) {
#filter-menu-holder {
	display: none
}
}
#filter-menu-holder #filter-menu {
	width: 100%;
	margin-top: 23px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 20.5px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
#filter-menu-holder #filter-menu>li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 13px;
	margin-bottom: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
#filter-menu-holder #filter-menu>li:hover .m-filter-type {
	color: #ed5c37
}
#filter-menu-holder #filter-menu>li:hover .m-tag-holder {
	max-height: 1000px
}
#filter-menu-holder #filter-menu>li span {
	display: block;
	width: 50%
}
#filter-menu-holder #filter-menu>li .m-filter-type {	
	font-family: 'Ubuntu', sans-serif; font-weight:500;
	line-height: 1.56;
	letter-spacing: -.2px;
	color: #181820;
	cursor: pointer
}
#filter-menu-holder #filter-menu>li .m-tag-holder {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: .2s;
	transition: .2s;
	margin-top: 5px;
	padding-left: 10px
}
#filter-menu-holder #filter-menu>li .m-tag-holder .m-tag {
	background-color: #fff;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.5;
	font-size: 14px;
	color: #595960;
	padding: 10px 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	display: inline-table
}
#all-cases-wraper .H1 {
	font-family: Sailec-Medium;
	font-size: 30px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: -.4px;
	color: #181820;
	margin-top: 75px;
	margin-bottom: 87px
}
@media all and (min-width:640px) {
#all-cases-wraper .H1 {
	font-size: 34px;
	line-height: 1.24;
	letter-spacing: -.8px
}
}
@media all and (min-width:1280px) {
#all-cases-wraper .H1 {
	font-size: 48px;
	line-height: 1.31;
	letter-spacing: -1px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#all-cases-wraper .H1 {
	font-size: 48px;
	line-height: 1.31px;
	letter-spacing: -1px;
	margin-top: 134px;
	margin-bottom: 91px
}
}
@media all and (min-width:769px) and (max-width:1024px) {
#all-cases-wraper .H1 {
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: -1px;
	margin-top: 100px;
	margin-bottom: 70px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#all-cases-wraper .H1 {
	font-size: 32px;
	line-height: 1.24;
	letter-spacing: -.8px;
	margin-top: 81px;
	margin-bottom: 60.5px
}
}
@media all and (max-width:480px) {
#all-cases-wraper .H1 {
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: -.4px;
	margin-top: 45px;
	margin-bottom: 50px
}
}
@media all and (min-width:1280px) {
#all-cases-wraper .H1 {
	margin-top: 130px;
	margin-bottom: 90px;
	font-size: 72px
}
}
#all-cases-wraper #mobile-filter-holder {
	height: 50px;
	font-family: 'Ubuntu', sans-serif; font-weight:700;
	font-size: 12px;
	letter-spacing: 1.7px;
	position: fixed;
	left: 0;
	bottom: 0;
	-webkit-box-shadow: 0 -2px 2px 0 rgba(0,0,0,.1), 0 1px 0 0 rgba(0,0,0,.12);
	box-shadow: 0 -2px 2px 0 rgba(0,0,0,.1), 0 1px 0 0 rgba(0,0,0,.12);
	z-index: 100;
	width: 100%;
	max-height: 1000px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: .3s;
	transition: .3s;
	overflow: hidden
}
@media all and (min-width:481px) {
#all-cases-wraper #mobile-filter-holder {
	display: none
}
}
#all-cases-wraper #mobile-filter-holder span {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	line-height: 1.75;
	color: #595960
}
#all-cases-wraper #mobile-filter-holder [id$='-mobile-filter'] {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%
}
#all-cases-wraper #mobile-filter-holder #closed-mobile-filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #f0f0f0;
	color: #181820
}
#all-cases-wraper #mobile-filter-holder #opened-mobile-filter {
	background-color: #ed5c37;
	color: #fff;
	display: none
}
#all-cases-wraper #filter-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 90px;
	margin-bottom: 60px
}
#all-cases-wraper #filter-holder li {
	display: inline-block;
	list-style: none
}
@media all and (min-width:481px) and (max-width:768px) {
#all-cases-wraper #filter-holder {
	margin-top: 70px;
	margin-bottom: 50px
}
}
@media all and (max-width:480px) {
#all-cases-wraper #filter-holder {
	display: none
}
}
#all-cases-wraper #filter-holder #filter-def {
	margin-bottom: 36px
}
@media all and (min-width:1025px) and (max-width:1279px) {
#all-cases-wraper #filter-holder #filter-def {
	margin-bottom: 25px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#all-cases-wraper #filter-holder #filter-def {
	margin-bottom: 29px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#all-cases-wraper #filter-holder #filter-def {
	margin-bottom: 20px
}
}
#all-cases-wraper #filter-holder #filter-def li {
	margin-left: 27px;
	margin-right: 27px;
	font-family: Sailec-Medium;
	font-size: 30px;
	line-height: 1.27;
	letter-spacing: -.4px;
	color: #181820;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer
}
#all-cases-wraper #filter-holder #filter-def li:hover {
	color: #595960
}
@media all and (max-width:1279px) and (min-width:1025px) {
#all-cases-wraper #filter-holder #filter-def li {
	margin-left: 21px;
	margin-right: 21px;
	font-size: 26px;
	letter-spacing: -.3px;
	line-height: 1.08
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#all-cases-wraper #filter-holder #filter-def li {
	margin-left: 21px;
	margin-right: 21px;
	font-size: 26px;
	letter-spacing: -.3px;
	line-height: 1.08
}
}
@media all and (max-width:768px) and (min-width:659px) {
#all-cases-wraper #filter-holder #filter-def li {
	margin-left: 15px;
	margin-right: 15px;
	font-size: 24px;
	letter-spacing: -.3px;
	line-height: 1.08
}
}
@media all and (max-width:658px) and (min-width:481px) {
#all-cases-wraper #filter-holder #filter-def li {
	margin-left: 7px;
	margin-right: 7px;
	font-size: 20px;
	letter-spacing: -.3px;
	line-height: 1.08
}
}
#all-cases-wraper #filter-holder #filter-def li:first-child {
	margin-left: 0
}
#all-cases-wraper #filter-holder #filter-def li:last-child {
	margin-right: 0
}
#all-cases-wraper #filter-holder .filter-tags-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 44px
}
@media all and (min-width:481px) and (max-width:768px) {
#all-cases-wraper #filter-holder .filter-tags-holder {
	height: 38px
}
}
#all-cases-wraper #filter-holder [id$='-filters'] {
	max-height: 0;
	overflow: hidden
}
#all-cases-wraper #filter-holder [id$='-filters'] li {
	margin-right: 10px;
	margin-left: 10px;
	font-family: Sailec,sans-serif;
	padding: 8px 20px 10px 20px;
	font-size: 16px;
	line-height: 1.5;
	color: #595960;
	cursor: pointer;
	-webkit-transition: .1s;
	transition: .1s
}
@media all and (max-width:1279px) and (min-width:1025px) {
#all-cases-wraper #filter-holder [id$='-filters'] li {
	margin-right: 5px;
	margin-left: 5px
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#all-cases-wraper #filter-holder [id$='-filters'] li {
	margin-right: 5px;
	margin-left: 5px
}
}
@media all and (min-width:481px) and (max-width:768px) {
#all-cases-wraper #filter-holder [id$='-filters'] li {
	margin-right: 3px;
	margin-left: 3px;
	padding: 6px 10px 8px 10px
}
}
#all-cases-wraper #filter-holder [id$='-filters'] li:first-child {
	margin-left: 0
}
#all-cases-wraper #filter-holder [id$='-filters'] li:last-child {
	margin-right: 0
}
#all-cases-wraper #filter-holder .active-type {
	color: #ed5c37!important
}
#all-cases-wraper #filter-holder .active-tag {
	background-color: #f0f0f0!important
}
@media all and (min-width:1024px) and (max-width:1239px) {
#all-cases-wraper #cases-holder {
	min-height: 360px
}
}
@media all and (min-width:1240px) and (max-width:1439px) {
#all-cases-wraper #cases-holder {
	min-height: 439px
}
}
@media all and (min-width:1440px) {
#all-cases-wraper #cases-holder {
	min-height: 500px
}
}
@media all and (min-width:1700px) {
#all-cases-wraper #cases-holder {
	width: calc(1700px - 200px);
	margin-left: auto;
	margin-right: auto;
	left: 100px
}
}
@media all and (min-width:1440px) and (max-width:1699px) {
#all-cases-wraper #cases-holder {
	width: calc(1440px - 260px);
	margin-left: auto;
	margin-right: auto;
	left: 130px
}
}
@media all and (min-width:1280px) and (max-width:1440px) {
#all-cases-wraper #cases-holder {
	width: calc(100% - 150px);
	margin-left: 75px
}
}
@media all and (min-width:1025px) and (max-width:1279px) {
#all-cases-wraper #cases-holder {
	width: 100%;
	left: 0;
	margin-right: 0;
	margin-left: 0
}
}
@media all and (max-width:1024px) and (min-width:769px) {
#all-cases-wraper #cases-holder {
	width: 100%;
	left: 0;
	min-height: 330px;
	margin-right: 0;
	margin-left: 0
}
}
@media all and (max-width:768px) and (min-width:659px) {
#all-cases-wraper #cases-holder {
	width: calc(100% - 100px);
	margin-left: 50px;
	min-height: 306px
}
}
@media all and (max-width:658px) and (min-width:481px) {
#all-cases-wraper #cases-holder {
	width: calc(100% - 70px);
	margin-left: 35px;
	min-height: 220px
}
}
@media all and (max-width:480px) {
#all-cases-wraper #cases-holder {
	width: 100%;
	margin-top: 30px;
	left: 0;
	min-height: 314px;
	margin-right: 0;
	margin-left: 0
}
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(1) .case-img {
	background-image: url(../images/66@2x.jpg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(2) .case-img {
	background-image: url(../images/uve_large.jpg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(3) .case-img {
	background-image: url(../images/traverse_large.jpg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(4) .case-img {
	background-image: url(../images/vivino_large.jpg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(5) .case-img {
	background-image: url(../images/flipp_large.jpg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(6) .case-img {
	background-image: url(../images/greger_lage.jpg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(7) .case-img {
	background-image: url(../images/reverb-01.jpeg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(8) .case-img {
	background-image: url(../images/pet_banner_001.jpeg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(9) .case-img {
	background-image: url(../images/education_banner-1.jpeg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(10) .case-img {
	background-image: url(../images/home-01.jpg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(11) .case-img {
	background-image: url(../images/enticeenergy02.jpg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(12) .case-img {
	background-image: url(../images/dayone-banner.png)
}

#all-cases-wraper #cases-holder .case-item:nth-of-type(13) .case-img {
	background-image: url(../images/home-01.jpg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(14) .case-img {
	background-image: url(../images/enticeenergy02.jpg)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(15) .case-img {
	background-image: url(../images/dayone-banner.png)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(16) .case-img {
	background-image: url(../images/cover_afixia.png)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(17) .case-img {
	background-image: url(../images/cover_smartwebs.png)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(18) .case-img {
	background-image: url(../images/cover_ionova.png)
}
#all-cases-wraper #cases-holder .case-item:nth-of-type(19) .case-img {
	background-image: url(../images/cover_igame.png)
}
#all-cases-wraper #cases-holder .case-item {
	border: 1.55px solid #fff
}
.m-selected-tag {
	background-color: #f0f0f0!important
}

